# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.dylib.*

# Executables
*.exe
*.out
*.app

# Debian build junk
debian/tmp/*
debian/libopenspecfun-*/*
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/files
